.tic-tac-toe-top {
    display: flex;
    align-items: center;

    > .circle {
        margin-left: 5px;
    }
}

.tic-tac-toe-td {
    width: 40px;
    height: 40px;
    border: 1px solid gray;
    padding: 4px;
}
