input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.contents {
    width: 100%;
    display: flex;
}

.left-article-title {
    width: 381px;

    padding-top: 2px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -1px;
}

.right-article-contents {
    width: 100%;
}

#btn-wrap {
    margin-top: 50px;
    text-align: right;
}

.info-box {
    margin-top: 10px;

    border-radius: 5px;
    border: solid 1px #dddddd;
    padding: 15px;
    line-height: 1.57;
}

.check-box-wrap {

    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding-top: 10px;
    padding-bottom: 10px;
}

.check-box-wrap > div {
    flex-shrink: 0;
}

#agree-checkbox {
    width: 18px;
    height: 18px;
}

.orange-checked {
    width: 18px;
    height: 18px;

    background-image: url("../../image/orange-checked.png");
    background-repeat: no-repeat;
    background-size: 18px;
}

.orange-no-checked {
    width: 18px;
    height: 18px;

    background-image: url("../../image/orange-no-checked.png");
    background-repeat: no-repeat;
    background-size: 18px;
}

.agree-label {

    margin-left: 10px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    font-size: 14px;
    line-height: 1.57;
    letter-spacing: -1px;
}

.form-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.form-item > label {

    width: 86px;
    font-family: NotoSansKR;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.47;
    letter-spacing: -1px;
    position: relative;
    left: 10px;
    z-index: -1;
}

.form-item > .required::before {

    content: '';
    position: absolute;
    left: -10px;
    top: 6px;
    z-index: -1;
    background-image: url("../../image/required.png");
    background-size: 7px;
    width: 7px;
    height: 22px;
    background-repeat: no-repeat;
}

.form-item > input {
    flex-grow: 1;
    font-family: NotoSansKR;
    height: 42px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    padding-left: 10px;
    min-width: 270px;
}

.form-item > input::placeholder {
    font-family: NotoSansKR;
    color: #dddddd;
}

#submit-btn {
    width: 106px;
    height: 42px;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #313131;
    font-family: NotoSansKR;
    font-size: 14px;
    letter-spacing: -1px;
    color: #ffffff;
}

#common-form {
    margin-bottom: 30px;
    white-space: normal;
}

#common-form > .form-item {
    margin-bottom: 10px;
}

#common-form > .form-item:nth-child(2) {
    margin-top: 30px;
}

.form-item > input {
    font-size: 13px;
}

.form-item > textarea {
    resize: none;
    flex-grow: 1;
    min-width: 270px;
    height: 150px;
    border-radius: 3px;
    border: solid 1px #dddddd;

    font-family: NotoSansKR;
    font-size: 13px;
    color: #313131;
    padding: 10px;
}

.form-item > textarea::placeholder {
    color: #dddddd;
}

.hidden {
    display: none;
}

#fake-file-btn {
    width: 81px;
    height: 42px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #999999;

    font-family: NotoSansKR;
    font-size: 13px;
    color: #ffffff;
}

.right-radius-none {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.file-form-item {
    flex-grow: 1;
    min-width: 270px;
}

.file-form-item > #readonly-file-input {
    min-width: auto;
}

/******************
 form - responsive
******************/

@media (max-width: 410px) {

    #common-form > .form-item {
        margin-bottom: 25px;
    }
}
