/******************
 layout - reset
******************/

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: NotoSansKR;
}

a {
    text-decoration: none;
}

.app-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

/******************
 layout - header
******************/

header {
    width: 100%;
    height: 130px;
    position: fixed;
    top: 0;
    background-color: white;
}

.nav1 {
    height: 70px;
    transition: height 0.5s;
    background: linear-gradient(180deg, #ffffff 70px, #313131 0);
    overflow: hidden;
}

.ul-wrap {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    height: 70px;
}

.red-logo {
    width: auto;
    height: 35px;
}

.red-logo-link {
    font-size: 0;
}

.drop-down-link {
    padding-top: 23px;
    height: 70px;

    font-size: 16px;
    font-weight: 500;
    letter-spacing: -1px;
}

.drop-down-hover,
.drop-down-link:hover {
    border-bottom: 3px solid #313131;
}

.drop-down-ul {
    list-style: none;
    overflow: hidden;
    height: 100%;
}

.drop-down-ul:first-child {
    width: 239px;
}

.drop-down-ul:nth-child(2),
.drop-down-ul:nth-child(3),
.drop-down-ul:nth-child(4) {
    margin-right: 11%;
}

.drop-down-ul > li {
    text-align: center;
}

.drop-down-ul > li:nth-child(2) {
    margin-top: 30px;
}

.drop-down-ul > li:nth-child(n + 3) {
    margin-top: 15px;
}

.drop-down-ul > li:nth-child(2) {
    font-family: NotoSansKR;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -1.07px;
    color: #df4b29;
}

.drop-down-ul > li:nth-child(n + 3) > a {
    font-family: NotoSansKR;
    font-size: 14px;
    letter-spacing: -1px;
    color: #ffffff;
}

.white-link:hover {
    text-decoration: underline;
}

.drop-down-ul:first-child > .first-li {
    display: flex;
    align-items: center;
    justify-content: left;
}


.first-li {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav1:hover {
    height: 370px;
}

.nav1:hover + .nav-hierarchy {
    display: none;
}

.nav1:hover > .ul-wrap > .drop-down-ul {
    height: 370px;
}

.nav-hierarchy {
    height: 60px;
    position: fixed;
    top: 70px;
    width: 100%;
    z-index: -1;
}

.nav-hierarchy > .hierarchy-wrap > div {
    font-size: 13px;
    letter-spacing: -1px;
}

.hierarchy-wrap {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 60px;
}

.arrow-right {
    margin-left: 10px;
    margin-right: 10px;
}

/******************
 layout - section
******************/


section {
    width: 100%;
    margin-top: 130px;
    display: flex;
    flex: 1 0 auto;
}

article {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    white-space: pre-line;
    font-size: 14px;
    overflow: hidden;
}

article > * {
    max-width: 100%;
    white-space: pre-line;
}

article pre {
    white-space: pre-line;
}

.contents {
    white-space: normal;
}

.text-div {
    font-family: NotoSansKR;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: -1px;
    white-space: pre-line;
}

.to-upper-scroll {
    position: fixed;
    bottom: 30px;
    right: 14px;
    width: 48px;
    height: 48px;
}

.border-bottom {
    border-bottom: 1px solid #dddddd;
}

.sub-title {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -1.0px;
}

/******************
 layout - side
******************/

#open-side-menu {
    display: none;
    height: 24px;
    background-color: white;
}

#close-side-menu > img,
#close-side-menu {
    width: 20px;
    height: 20px;
    background: #313131;
}

.side-menu-wrap {

    display: flex;
    flex-direction: column;

    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    min-height: 420px;
    width: 233px;

    padding: 44px 0 20px 0;

    background-color: #313131;
    z-index: 102;

    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);

    -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.side-menu-wrap.active {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
}

.side-menu-overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;

    left: 0;
    top: 0;

    background-color: rgba(0, 0, 0, 0.5);

    z-index: 101
}

.side-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 14px 20px 14px;
}

.side-item {

    display: flex;
    align-items: center;
    text-align: center;

    height: 60px;
    border-bottom: 1px solid rgba(153, 153, 153, 0.2);
    padding: 0 14px;
    position: relative;
}

.close-collapse-btn {
    width: 13px;
    height: 13px;
    background-color: #313131;

    position: absolute;
    top: 21px;
    right: 14px;
}

.collapse-extend > .close-collapse-btn > img {
    content: url("../../image/collapse-up.png");
}

.close-collapse-btn > img {
    width: 11px;
    height: 11px;
}

.collapse-contents {
    max-height: 0;
    padding-left: 14px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    list-style: none;
}

.side-item-title {
    font-family: NotoSansKR;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.44;
    letter-spacing: -1px;
    color: white;
}

.collapse-li {
    margin-bottom: 15px;
}

.collapse-li:first-child {
    margin-top: 25px;
}

.collapse-li:last-child {
    margin-bottom: 25px;
}

.collapse-li > a {
    font-family: NotoSansKR;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.8px;
    color: #ffffff;
}

.collapse-extend > .side-item-title {
    color: #df4b29;
}

.collapse-extend {
    max-height: 500px;
    transition: max-height, 0.5s;
}

.collapse-extend + .collapse-contents {
    border-bottom: 1px solid rgba(153, 153, 153, 0.2);
}

.footer-wrap {
    position: relative;
    flex-grow: 1;
}

.side-footer {
    position: absolute;
    bottom: 0;
    left: 17px;
    font-family: NotoSansKR;
    font-size: 11px;
    line-height: 2;
    letter-spacing: -0.3px;
    color: #ffffff;
}


/******************
 layout - footer
******************/

footer {
    background-color: #313131;
    height: 80px;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 1200px;
    margin: 0 auto;
}

.left-footer-wrap {
    height: 100%;
    display: flex;
    align-items: center;
}

.white-logo {
    width: auto;
    height: 25px;
    margin-right: 40px;
}

.side-white-logo {
    width: auto;
    height: 26px;
}

small {
    font-family: NotoSansKR;
    font-size: 14px;
    letter-spacing: -1px;
    white-space: nowrap;
}

.address,
.tel {
    line-height: normal;
    color: #dddddd;
}

.tel > a {
    color: #dddddd;
}

.address {
    margin-right: 20px;
}

.copyright {
    line-height: 1.57;
    color: #ffffff;
}

/******************
 color - background-color
******************/

.back-green {
    background-color: rgba(81, 123, 33, 0.7);
}

.back-sky-blue {
    background-color: rgba(74, 144, 226, 0.7);
}

.back-wine {
    background-color: rgba(157, 52, 65, 0.7);
}

/******************
 color - background-color
******************/

.text-313131 {
    color: #313131;
}

.text-666666 {
    color: #666666;
}

.text-999999 {
    color: #999999;
}

/******************
 layout - responsive
******************/

@media (max-width: 1250px) {

    .contents {
        flex-direction: column;
    }

    .left-article-title {
        margin-bottom: 5px;
    }

    .ul-wrap,
    .hierarchy-wrap,
    article,
    .footer-inner {
        width: 90%;
    }

    .ul-wrap {
        justify-content: space-between;
    }

    .drop-down-ul:first-child {
        width: fit-content;
    }

    .drop-down-ul:first-child > .first-li {
        width: fit-content;
    }

    .drop-down-ul:nth-child(2),
    .drop-down-ul:nth-child(3),
    .drop-down-ul:nth-child(4) {
        margin-right: 0;
    }

    .first-li {
        width: 164px;
    }
}

@media (max-width: 1024px) {

    .drop-down-ul:first-child > .first-li {
        margin: 0 auto;
    }

    .drop-down-ul:first-child {
        width: 100%;
    }

    .nav-hierarchy {
        height: 70px;
    }

    .hierarchy-wrap {
        display: none;
    }

    /* clear */
    .nav1:hover {
        height: 70px;
        background: white;
    }

    .nav1:hover > .ul-wrap > .drop-down-ul {
        height: 70px;
    }

    /* clear */
    /* header reset */
    header,
    header:hover {
        height: 70px;
    }

    header:hover > .nav-hierarchy,
    .nav-hierarchy {
        display: none;
        background: none;
    }

    .ul-wrap > .drop-down-ul:nth-child(n+2) {
        display: none;
    }

    /* header reset */
    section {
        margin-top: 70px;
    }

    #open-side-menu {
        display: inline-block;
        position: absolute;
        top: 23px;
        left: 14px;
    }

    .ul-wrap {
        width: 100%;
        margin: 0;
    }
}

@media (max-width: 1000px) {

    .copyright {
        display: none;
    }
}

@media (max-width: 660px) {

    .tel {
        display: none;
    }
}

@media (max-width: 406px) {

    .left-footer-wrap {
        flex-wrap: wrap;
    }

    .white-logo,
    .address {
        margin: 0 auto;
    }
}
