.MineSweeper-wrap {
    .mine-tr {
        display: flex;
    }

    .mine-td {
        width: 30px;
        height: 30px;
        border: 1px solid gray;

        display: flex;
        justify-content: center;
    }
}
