.WhiteSpace-wrap {
    .white-space-item {

        margin-bottom: 20px;

        width: 300px;
        height: 100px;
        background: yellow;

        > div,
        > span {
            display: inline-block;
            background: red;
        }
    }

    .naver-search {

        > span {
            display: inline-block;
            height: 49px;
            border: 2px solid green;

            > input {
                width: 100%;
                height: 100%;
            }
        }

        > button {
            height: 49px;
            background: green;
            width: 50px;
            position: absolute;
        }
    }
}
