.CircleSymbol {
    width: 30px;
    height: 30px;
}

.CircleSymbol.red {
    background: red;
}

.CircleSymbol.blue {
    background: blue;
}

.CircleSymbol.blue-violet {
    background: blueviolet;
}
