.Collapse-wrap {
    .collapse-btn {
        text-align: right;
        padding: 10px;
        border: 1px solid gray;
    }

    .collapse-content {
        height: 0;
        transition: height, 1s;
        //padding: 10px; // box-sizing 잘못이해하고있었음. padding이 길이에 포함은 될지언정 padding길이보다 짧아지면 무시됨.
        overflow: hidden;
        border-left: 1px solid gray;
        border-right: 1px solid gray;
    }

    .open.collapse-content {
        height: 250px; //auto, fit-content는 안됨. 이걸 js없이 가능?
        border-bottom: 1px solid gray;
    }
}

