@mixin round-border {
    border-radius: 5px;
}

.my-input {
    font-size: 14px;
    padding-left: 10px;
    @include round-border;
    border: 1px solid blueviolet;
    height: 40px;
}

.my-label {
    display: flex;
    align-items: center;

    margin-right: 20px;
    width: 100px;
}

.my-button {
    background: blueviolet;
    @include round-border;

    color: white;
    font-size: 14px;
    padding: 5px 10px;
}

.responsive-form-item {

    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

    > .form-item-inner,
    > .my-input {
        min-width: 250px;
    }

    > .form-item-inner {
        display: flex;
        flex-grow: 1;
    }

    .my-input {
        flex-grow: 1;
    }
}

.button-disable {
    color: white;
    background: lightgray;
    pointer-events: none;
}
