@import "cssPropertiesMixin";

.display-block {
    display: block;
}

.display-inline-block {
    display: inline-block;
}

.display-flex {
    display: flex;
}

.flex-direction-column {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.flex-between-center {
    @include flex-between-center;
}

.display-none {
    display: none;
}

.list-style-inside {
    list-style: inside;
}

.vertical-align-top > * {
    vertical-align: top;
}

.pre-line {
    white-space: pre-line;
}

.mr-20 {
    margin-right: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.ml-20 {
    margin-left: 20px;
}

.mt-60 {
    margin-top: 60px;
}
