.display-block {
    display: block;
}

.display-inline-block {
    display: inline-block;
}

.display-flex {
    display: flex;
}

.flex-direction-column {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

@mixin flex-between-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-between-center {
    @include flex-between-center;
}

.display-none {
    display: none;
}

.mr-20 {
    margin-right: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.ml-20 {
    margin-left: 20px;
}

.mt-60 {
    margin-top: 60px;
}
