@mixin background-image-default {
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

.hover-container {

    .hover-scale-item {
        transition: all, 0.2s;
    }

    &:hover .hover-item-underline {
        text-decoration: underline;
    }

    &:hover .hover-scale-item {
        transform: scale(1.2);
    }

    &:hover.forward-layer-container,
    &:hover .forward-layer-container {

        > .forward-layer {
            transform: translateY(-50%);
        }
    }
}

.hover-scale-container {
    overflow: hidden;
}

.forward-layer-container {

    overflow: hidden;
    position: relative;
    font-size: 0;

    > .forward-layer {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        transition: transform, 0.5s;

        background-color: rgba(0, 0, 0, 0.5);

        .text-layer {
            font-size: initial;
            color: white;
        }
    }
}

.background-image-default {
    @include background-image-default;
}

.background-contain-image- {
    @include background-image-default;
    background-size: contain;
}

.background-cover-default {
    @include background-image-default;
    background-size: contain;
}

.delete-left-radius-border {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.delete-right-radius-border {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.image-link {
    font-size: 0;
}

.circle {
    border-radius: 50%;
}

.hidden-increase-decrease-button::-webkit-outer-spin-button{-webkit-appearance: none;margin: 0;}
.hidden-increase-decrease-button::-webkit-inner-spin-button{-webkit-appearance: none;margin: 0;}
