.post_article {
    overflow: hidden;
    position: relative;
    max-width: 840px;

    > .cont_post {
        position: relative;
        max-width: 640px;
        padding-right: 200px;
        border-bottom: 1px solid #ededed;

        img {
            vertical-align: top;
        }

        a {
            text-decoration: none;
            color: inherit;
        }

        > h2 {
            font-size: 24px;
            color: #434a53;
            padding-bottom: 14px;
        }

        > .cont_img {
            position: absolute;
            top: 0;
            right: 0;
            width: 170px;
            height: 120px;
        }

        .post_txt {
            font-size: 14px;
            line-height: 20px;
            max-height: 40px;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-word;
            margin-bottom: 15px;
            color: #666;
        }

        > dl {
            font-size: 12px;
            color: #b5b5b5;
            font-family: Avenir,'Lato',"애플 SD 산돌고딕 Neo","Apple SD Gothic Neo","나눔바른고딕",NanumBarunGothic,"나눔고딕",NanumGothic,"맑은 고딕","Malgun Gothic","돋움",dotum,AppleGothic,sans-serif;
            overflow: hidden;
            padding: 7px 0;
            padding-bottom: 30px;
            width: 100%;

            > dt {
                float: left;
                margin-right: 5px;
            }

            > dd {
                float: left;
            }
        }
    }
}

.blind {
    visibility: hidden;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: -9999px;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
}

.my-style {

    color: black;

    .title {
        font-size: 24px;
    }

    .content {
        height: 40px;
        overflow: hidden;
    }

    .image {
        margin-left: 30px;
    }
}
