#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 70px;
  position: fixed;
  background: lightgoldenrodyellow;
}

section {
  margin-top: 70px;
  padding: 20px;
  flex-grow: 1;
  background: lightblue;

  display: flex;
}

footer {
  height: 70px;
  background: blueviolet;
  position: relative;
}

.main-aside {
  margin-right: 20px;
  padding: 20px;

  width: 200px;
  height: 600px;
  background: blueviolet;
}

.main {
  padding: 20px;
  background: lightcyan;
  width: 100%;
}

.clock-wrap {
  display: flex;
  position: absolute;
  right: 10px;
  top: 25px;

  > span {
    margin-right: 5px;
  }
}
