@import "../../../css/cssPropertiesClass";

//컴포넌트의 가장 바깥은 컴포넌트이름-wrap으로 통일해야했으나, 동일한 성격의 여러 컴포넌트에서는 클래스이름을 어떻게 지정할지 난감하여 일단 이렇게했음.
.trade-market-form {
    max-width: 412px;
    border-radius: 5px;
    border: 1px solid blueviolet;
    padding: 20px;

    > .form-header {
        height: 26px;
        margin-bottom: 20px;
        @include flex-between-center;

        > .more-view {
            font-size: 12px;
            color: gray;
        }
    }

    fieldset {
        font-weight: bold;
    }

    > .RadioGroup-wrap {
        margin-bottom: 10px;
    }

    > .form-footer {
        margin-top: auto;
        @include flex-between-center;

        > .my-button {
            float: right;
        }
    }
}
